{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<p>{{post.content}} - {{post.user.username}}</p>
<div class="form-post">
    {% if app.user %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% endif %}
    {% for c in allComments %}
</div>
<p>{{c.content }} - {{c.user.username }} </p>
{% endfor %}{% endblock %}
